.meat { Background-color: red;
  border: 1px solid black;
}
.fruit { Background-color: Yellow;
  border: 1px solid black;
}
.beverage { background-color: tan;
  border: 1px solid black;
}
.vegatable { background-color: green;
  border: 1px solid black;
}
